.tb_th{
  		background-color: #67ace0;
  		width: 25%;
  		text-align: left;
  	}
  	.tr_1{
  		background-color: #deedf9;
  		width: 25%;
  		text-align: right;
  		border-top: 1px solid white;
  	}
  	.tr_2{
  		width: 25%;
  		border-top: 1px solid white;
  		background-color: #f7fafd;
  	}
  	.table_{
  		width: 100%;
  	}